.header_logo {
  width: 10%;
  margin-right: 15px;
}

.header_logo2 {
  width: 18%;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px 10px;
}

.Logo_conatiner {
  width: 305px;
  padding: 10px 20px;
}

.header_logo22 {
  width: 45%;
}
